.Register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
  }
  
  .RegisterTitle {
    font-size: 50px;
  }
  
  .RegisterForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .RegisterForm > label {
    margin: 10px 0;
  }
  
  .RegisterInput {
    padding: 10px;
    background-color: white;
    border: none;
  }
  
  .RegisterButton {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
    transition: background-color 0.6s;
  }
  
  .RegisterLoginButton {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    padding: 10px;
    color: whitesmoke;
    border-radius: 10px;
    transition: background-color 0.6s;
  }
.RegisterLoginButton > a {
  text-decoration: none;
  color: whitesmoke;

}

.RegisterLoginButton:hover{
  background-color:  rgb(230, 29, 29);
}

.RegisterButton:hover{
 background-color:  rgb(8, 71, 71); 
}

.HomeButton{
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: rgba(10, 157, 76, 0.631);
  cursor: pointer;
  border: none;
  padding: 10px;
  height: 84.53;
  width: 68px;
  color: whitesmoke;
  border-radius: 10px;
  transition: background-color 0.6s;
}

.HomeButton > a{
  text-decoration: none;
  color: whitesmoke;
}

.HomeButton:hover{
  background-color:  rgb(5, 86, 41);
}
